.ConfigAuditReports {

  .Table {
    .TableCell {
      &.name {
        text-align: left;
        flex-grow: 0.45;
      }
      &.namespace {
        text-align: left;
        flex-grow: 0.1;
      }
      &.summary {
        text-align: left;
        flex-grow: 0.3;
      }
      &.scanner {
        text-align: left;
        flex-grow: 0.15;
      }
    }
  }

  .Badge {
    margin-left: 4px;
    margin-right: 4px;
    width: 3em;
    text-align: right;

    &.severity-CRITICAL {
      color: white;
      background-color: #cc1814;
    }

    &.severity-HIGH {
      color: white;
      background-color: #ffa500;
    }

    &.severity-MEDIUM {
      color: white;
      background-color: #f0c20c;
    }

    &.severity-LOW {
      color: white;
      background-color: #096ab0;
    }
  }
}