.CISResultsList {

  .CISResultsTable {

    margin-left: -24px;
    margin-right: -24px;

    .TableCell {
      &.number {
        text-align: right;
        flex-grow: 0.1;
      }

      &.status {
        text-align: center;
        flex-grow: 0.1;
      }

      .Badge {
        &.status-FAIL {
          color: white;
          background-color: #cc1814;
        }

        &.status-WARN {
          color: white;
          background-color: #ffa500;
        }

        &.status-INFO {
          color: white;
          background-color: #515456;
        }

        &.status-PASS {
          color: white;
          background-color: #00b09b;
        }
      }
    }

  }

}
