.CISKubeBenchReportsList {

  .Table {
    .TableCell {
      &.name {
        text-align: left;
        flex-grow: 0.45;
      }
      &.summary {
        text-align: left;
        flex-grow: 0.4;
      }
      &.scanner {
        text-align: left;
        flex-grow: 0.15;
      }
    }
  }

  .Badge {
    margin-left: 4px;
    margin-right: 4px;
    width: 3em;
    text-align: right;

    &.theme-fail {
      color: white;
      background-color: #cc1814;
    }

    &.theme-warn {
      color: white;
      background-color: #ffa500;
    }

    &.theme-info {
      color: white;
      background-color: #515456;
    }

    &.theme-pass {
      color: white;
      background-color: #00b09b;
    }
  }
}